<?xml version="1.0" encoding="UTF-8"?>
<root>
    <seo>
        <title>Distron-shop</title>
        <meta_description/>
        <meta_keywords/>
        <meta_twitter_card/>
        <meta_twitter_size/>
        <meta_twitter_creator/>
        <meta_og_url/>
        <meta_og_type/>
        <meta_og_title/>
        <meta_og_description/>
        <meta_og_image/>
        <meta_robots/>
        <meta_googlebot/>
        <meta_google_site_verification/>
    </seo>
    <settings>
        <email>fil@distron.ru</email>
        <phone>+7(495)137-40-42</phone>
        <address>125167, г.Москва, 4-я улица 8 Марта, 6А</address>
        <office_address>119019 Москва, Староваганьковский пер., д. 15, с. 3, эт. 2, пом. 24, ком. 14</office_address>
        <video>https://rutube.ru/video/e0074ea9c0132c75168f9938b3709d48/?r=wd</video>
    </settings>
</root>
