body {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
    background-color: white;
}

a, strong, th {
    color: #009671;
}

th {
    color: #009671 !important;
}

a.href-block {
    text-decoration: none;
}

p, ul, ol {
    font-size: 1rem;
    margin-bottom: .5rem;
}

.image {
    width: 250px;
    margin: auto;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    border: 3px solid #009671;
}


.w-30 {
    width: 30%;
}

.w-40 {
    width: 40%;
}

.pagination {
    --bs-pagination-focus-box-shadow: 0 0 0 0.25rem rgba(0, 65, 50, 0.25) !important;
    --bs-pagination-active-bg: #009671 !important;
    --bs-pagination-active-border-color: #009671 !important;
    --bs-pagination-disabled-color: #6c757d !important;
}

.active>.page-link,
.page-link.active {
    background-color: #009671;
    border-color: #009671;
}

.page-link {
    color: #009671;
}

span.marked {
    background-color: #d3f7a5;
}

.items .image {
    width: 80%;
}

.items.items-type-1 .item {
    max-height: 360px;
}

.items.items-type-2 .item {
    max-height: 500px;
}

.items.items-type-3 .item {
    max-height: 400px;
}

#loader {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("../images/white_tansp_bg.png");
    z-index: 3000;
    display: flex;
    align-items: center;
    justify-content: center;
}

#loader > div {
    width: 50px;
    height: 50px;
    background-image: url("../images/preloader.gif");
    background-size: 100%;
}

.error {
    font-size: 1em;
    color: red;
}

a:hover,
a:focus {
    color: #009671;
}

h2 {
    font-weight: bold;
    text-transform: uppercase;
}


h3 {
    font-size: 1.5em;
}

.search-result h3 {
    font-size: 1.8em;
    text-align: left;
}

.search-result button {
    width: 150px;
}

h1, h2, h3, h4, h5, h6 {
    color: #009671;
}

li::marker {
    color: #009671;
}

.btn.btn-primary {
    background-image: linear-gradient(#7EE068, #009671);
    border-color: #009671;
}

.form-check-input:checked {
    background-color: #009671;
    border-color: #009671;
}

#on-top-button {
    width: 48px;
    height: 48px;
    text-align: center;
    color: #009671;
    background-color: white;
    border-radius: 50%;
    position: fixed;
    left: auto;
    right: 27px;
    bottom: 50px;
    z-index: 1001;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    display: none;
}

#on-top-button i {
    margin-top: 15px;
    font-size: 20px;
}

.photos-block {
    margin-top: 50px;
}

.section {
    font-size: .8rem;
    padding: 1rem 0;
}

.section.color {
    color: white;
    background-position-x: center;
    background-position-y: top;
    background-size: 100% 100%;
    padding: 40px 0;
}

.section.color h2 {
    color: white;
}

#top-block {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 999;
}

#top-line {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-image: linear-gradient(90deg, #7EE068, #009671);
    border-bottom: 1px solid white;
}

#top-line .contacts {
    font-size: 14px;
    color: white;
}

#top-line .contacts a {
    font-size: 17px;
    font-weight: bold;
    color: white;
}

#top-line .contacts span {
    margin-right: 15px;
}

#top-line form {
    position: relative;
    margin-right: 10px;
}

#top-line form input {
    width: 100%;
    height: 38px;
    padding-right: 30px;
    border-radius: 5px;
    border: 1px solid #009671;
}

#top-line form i {
    position: absolute;
    margin-top: 12px;
    right: 10px;
    color: grey;
    cursor: pointer;
}

#main-nav {
    width: 100%;
    height: 40px;
    font-weight: bolder;
    text-transform: uppercase;
    background-image: linear-gradient(90deg, #7EE068, #009671);
    padding-left: 10px;
    z-index: 999;
}

#basket {
    color: white;
    cursor: pointer;
    margin-right: 10px;
}

#basket i {
    font-size: 25px;
}

#basket .cir {
    width: 20px;
    height: 20px;
    position: absolute;
    right: -5px;
    font-weight: bolder;
    background: #009671;
    border-radius: 50%;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

#main-collage {
    width: 100%;
    height: 530px;
    margin-top: 110px;
    background: url("../images/waves.jpg") left top no-repeat;
}

#main-image {
    width: 600px;
    right: 100px;
    top: 120px;
    position: absolute;
}

#main-logo {
    padding-top: 30px;
    padding-left: 50px;
    /*display: flex;*/
    /*align-items: center;*/
}

#main-logo img.logo {
    width: 350px;
    /*-webkit-filter: drop-shadow( 0px 0px 7px #FFFFFF);*/
    /*filter: drop-shadow( 0rem 0px 7px #FFFFFF);*/
}

#main-logo h1 {
    color: white;
    font-size: 1.4em;
    padding-left: 100px;
    text-transform: uppercase;
    font-weight: bold;
}

#main-logo .btn.btn-primary {
    margin-top: 10px;
    margin-left: 100px;
}

#video {
    width: 70%;
    margin: auto;
}

#video video {
    width: 100%;
    margin-bottom: 20px;
}

#look-at {
    font-size: 1rem;
    font-weight: bold;
}

#look-at img {
    width: 100px;
}

#breadcrumbs {
    color: #009671;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1rem;
}

#breadcrumbs i {
    margin: 0 10px;
}

.section.color1 {
    background-image: url("../images/color_section1.jpg");
}

.section.color1 h2 {
    margin-bottom: 20px;
}

.section.color1 p {
    /*line-height: 1.25em;*/
    margin-bottom: .2em;
}

.section.color2 {
    padding-top: 70px;
    padding-bottom: 70px;
    background-image: url("../images/color_section2.jpg");
}

.section.white {
    padding-top: 0 !important;
}

.section.icons {
    padding-bottom: 0 !important;
}

.navbar-toggler {
    border: 1px solid white;
}

.navbar-toggler:focus {
    box-shadow: 2px 2px 1px rgba(0, 150, 113, 1);
}

.fa-navicon {
    font-size: 1em;
    color: white;
}

.nav-item.active,
.nav-link:hover {
    color: #2ebd9a !important;
}

.nav-link {
    cursor: pointer;
    color: white !important;
    font-size: 15px;
    padding-left: 10px !important;
    padding-right: 10px !important;
}

.dropdown-item {
    font-size: 13px;
}

.icon > img {
    width: 50%;
}

h2.accordion-header {
    margin-bottom: 0;
}

.accordion-button {
    font-size: 1.2rem;
}

.accordion-body {
    font-size: 1rem;
    line-height: 1.5em;
}

/*.owl-dots {*/
/*    text-align: center;*/
/*}*/

/*.owl-dots .owl-dot {*/
/*    width: 20px;*/
/*    height: 20px;*/
/*    border-radius: 50%;*/
/*    margin-left: 10px;*/
/*    border: 1px solid gray !important;*/
/*}*/

/*.owl-dots .owl-dot:first-child {*/
/*    margin: 0;*/
/*}*/

/*.owl-dots .owl-dot.active {*/
/*    background-color: gray;*/
/*}*/

.accordion-button:not(.collapsed) {
    background-color: #d8f5d1;
    color: #009671;
}

.accordion-button:focus,
input:focus,
textarea:focus {
    border-color: #009671 !important;
    box-shadow: 0 0 5px 1px rgba(0, 150, 113, 0.8) !important;
}

iframe {
    border: 1px solid #009671;
    box-shadow: 3px 3px 5px 1px rgba(0, 0, 0, 0.3);
}

.contacts table {
    border: 0;
    font-size: 1.2em;
}

.contacts table td {
    padding: 5px;
    vertical-align: top;
}

.counter {
    width: 36px;
    height: 36px;
    cursor: pointer;
    font-size: 12px;
    color: #009671;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    border: 1px solid #009671;
}

.counter:hover {
    background: #009671;
    color: white;
}

input.basket-value {
    width: 50px;
    font-size: 20px;
    font-weight: bolder;
    color: #009671;
    text-align: center;
    border: 1px solid #009671;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

td.basket-price {
    font-weight: bolder;
    color: #009671 !important;
}

.site-footer {
    padding: 4em 0;
    background-color: #c9ccd4;
}

.site-footer p,
.site-footer .nav-link {
    color: gray !important;
}

.site-footer ul li {
    margin-bottom: 10px;
}

.site-footer a:hover {
    color: #43ab92 !important;
}

.site-footer a {
    color: rgba(0, 0, 0, 0.5);
    text-decoration: none;
}

.site-footer .footer-heading {
    font-size: 16px;
    color: #000;
}

@media (max-width: 1400px)  {
    #top-line .contacts,
    #top-line .contacts a {
        font-size: 12px;
    }

    .nav-link {
        font-size: 11px;
        padding-left: 5px !important;
        padding-right: 5px !important;
    }

    #main-logo h1 {
        font-size: 1em;
    }

    #main-image {
        width: 400px;
        top: 150px;
        right: 50px;
    }

    .section.color {
        background-size: 120% 100%;
    }

    .section.color h2 {
        margin-top: 50px;
    }

    .section.color p:last-child {
        margin-bottom: 50px;
    }
}

@media (max-width: 991px) {
    #top-line .contacts {
        width: 300px;
    }

    #main-collage {
        height: 600px;
    }

    .navbar-collapse {
        padding: 15px;
        background-color: white;
    }

    .nav-link {
        color: #009671 !important;
        font-weight: bold;
        text-shadow: none;
    }

    #main-logo h1 {
        width: 100%;
        font-size: 1.4em;
    }

    #main-image {
        display: none;
    }
}

@media (max-width: 768px)  {
    #top-line .contacts {
        display: none;
    }

    .section.color p:last-child {
        margin-bottom: 100px;
    }

    form .btn.btn-primary {
        width: 100%;
    }

    #breadcrumbs {
        flex-direction: column;
        align-items: start;
    }

    #basket-total {
        font-size: 16px;
    }
}

@media (max-width: 500px)  {
    #top-line form,
    #main-logo h1 {
        display: none;
    }

    #main-logo {
        width: 85%;
    }

    #main-logo img.logo {
        width: 100%;
    }

    #main-logo h1 {
        font-size: 1em;
    }

    #main-logo .btn.btn-primary {
        margin-left: 30%;
    }

    .section.contacts table {
        background: none;
    }

    .section.contacts td.icon {
        width: 100px;
        padding-left: 20px;
    }

    .section.contacts td .line,
    .section.contacts td .dot {
        display: none;
    }
}

@media (max-width: 460px)  {
    #main-collage {
        height: 550px;
    }

    td.basket-name,
    td.basket-price {
        font-size: .8rem;
    }

    .counter {
        width: 20px;
        height: 20px;
        font-size: 10px;
    }

    input.basket-value {
        width: 33px;
        height: 33px;
        font-size: 12px;
    }

    .image {
        width: 100%;
    }

}

@media (max-width: 350px)  {
    #main-collage {
        height: 500px;
    }
}

@media (max-width: 325px)  {
    #main-logo h1 {
        font-size: .8em;
        padding-left: 85px;
    }
}
